* {
    margin:  0;
    padding: 0;
}

body
{
    font-family: Verdana;
}

h1,h2
{
    font-family: Helvetica;
  }

.cabecera {
    border:solid 1px #ccc;
    height:8%;
}

.cuerpo {
    background: #1058f3;
    width: 100%;
    height: 80%;
}
  .columna_derecha {
      display: none;
      width:27%;
      border:solid 1px #ccc;
      padding:10px;

  }

  .columna_izquierda {
      background: #eef314;
      float:left;
      width:20%;
      border:solid 1px #ccc;
      padding:10px;
      height:90%;
 }

 .columna_central {
     text-align: center;
     border:solid 1px #ccc;
     background: #4ff30e;
     padding:10px;
     width: 100%;
     height:480px;
  }

  footer {
      border:solid 1px #ccc;
      background: #f31e0d;
      height: 10%;
      text-align:center;
      clear: both;
 }
