.contenido-4{
	margin: 10px 10px;
    float: left;
    box-sizing: border-box;
}

.mod
{
	background: white;
	height: 200px;
	width: 200px;
	box-shadow: 2px 2px 5px #999;
    position: relative;
}

.mod_img
{
	background: url(../img/1.png);
    background-size: cover;
    height: 70%;
    width: 100%;
    text-align: center;
}

.mod_title
{
	text-align: center;
    padding: 20px;
}

.mod_title:hover
{
	text-decoration: underline;
	cursor: pointer;
}	

.mod_flotante
{
	background: #bb5c4d;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin: 5px;
    float: right;
    position: absolute;
    right: 7px;
    bottom: 40px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
	cursor: pointer;
}

.mod_flotante:hover
{
	
	background: #1c79be;
}

