* {
    margin:  0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: white;
}

body
{
    background: #323A46;
    font-family: sans-serif;
}

.contenedor
{
    width: 100%;
    overflow: hidden;
}

header
{
    background: #EB4A33;
    height: 50px;
}

header h1
{
    color: #fff;
    padding: 10px;
    text-align: center;
}

.main
{
    width: 80%;
    height: 700px;
    background: #fff;
    padding:20px;
    float: right;
    box-sizing: border-box;
}

.main img
{
    width: 100%;
    height: auto;
}

aside
{
    height: 700px;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    background: #ccc;
    float: left;
}

footer
{
    clear: both;
    float: right;
    margin-top:20px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    color: #fff;
    background: #000;
}

.perfil
{
    height: 100px;
    width: 100px;
    display:block;
    margin:auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 100% auto;
}

h3
{
    text-align: center;
    margin: 10px auto;
}

@media screen and (max-width: 800px)
{
    .main
    {
        width: 100%;
    }

    aside
    {
        width: 100%;
        display: none;
    }
}

@media screen and (max-width: 300px)
{
    .contenedor
    {
        width: 100%;
    }
}

